
.flex-item {
    text-align: center;
    font-size: 1em;
    color: white;
    opacity: 1;
    height: 16em;
    width: 12em;
    margin: 10px;
}

.product_image {
    max-height: 10em;
    max-width: 12em;
    background-color: white;
}
.product_image_space{
    align-items: center;
    height: 10em;
    width: 100%;
}

a.product_name {
    color: white;
}
.product_name_space{
	margin-top: 5px;
}
.product_description {
    text-align: justify;
    font-size: 0.8em;
    height: 2.5em;
}

.product_buy{
	float: right;	
}
.product_buy form button{
	margin: 0;
	padding: 0;
	width: 10em;
}

.price {
    float: left;
    color: black;
}

.product_buy {
    margin-right: 0.3em;
    float: right;
}

.div_product_image{
    height: 10em;
}

.flex-item-color{
    background-color: #6997D3;
}
